@import "../../variables.scss";

header {
  height: 4rem;
  background-color: $primary-color;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  color: white;
  padding: $header-padding;
  display: inline-block;
}

.menu {
  height: 50%;
  margin-left: auto;
  padding: $header-padding;
}
