@import "../../variables.scss";

@mixin align-header-element {
  margin-left: auto;
  padding: $header-padding;
}

header {
  height: $header-height;
  background-color: $primary-color;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  color: white;
  padding: $header-padding;
  display: inline-block;
}

.menu {
  height: 50%;
  margin-left: auto;
  padding: $header-padding;
}

.current-user {
  @include align-header-element();
  color: white;
}

.login {
  @include align-header-element();
  color: white;
  text-decoration: none;
  font-family: $primary-font;
}
