@import "../../variables.scss";

.form {
  margin: 0 auto;
}

body {
  background: repeating-radial-gradient(
    ellipse at center,
    rgba(2, 0, 36, 1) 0%,
    rgba(18, 94, 138, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
}

label {
  font-family: $primary-font;
  color: $primary-color;
}

.line {
  height: 1.5px;
  background-color: $primary-color;
  margin-bottom: 1rem;
}

.required {
  color: red;
}

.error {
  margin-top: 0;
  color: red;
  font-size: 0.7rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.4rem;
  font-family: $primary-font;
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  color: rgba(2, 0, 36, 1);

  &::selection {
    background-color: lightblue;
  }
}

button {
  width: 40%;
  margin: 1rem auto;
  padding: 0.5rem;
  font-family: $primary-font;
  background-color: $primary-color;
  color: white;
  border: 5px solid $primary-color;
  border-radius: $border-radius;
}

@media (min-width: 800px) {
  .form {
    width: 50%;
    margin-top: 4rem;
  }
  form {
    background-color: white;
  }
}

@media (min-width: 1270px) {
  .form {
    width: 30%;
    box-shadow: 3px 3px 8px $primary-color;
    border-radius: $border-radius;
    margin-top: 4rem;
    height: 50vh;
    background-color: white;
  }
}
