@import "../../variables.scss";

.form {
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

label {
  font-family: $primary-font;
  color: $primary-color;
}

.line {
  height: 1.5px;
  background-color: $primary-color;
  margin-bottom: 1rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.4rem;
  font-family: $primary-font;
  border: 1px solid $primary-color;
  color: black;
  border-radius: $border-radius;

  &:focus {
    outline: 2px outset $primary-color;
  }

  &::selection {
    background-color: lightblue;
  }
}

button {
  width: 40%;
  margin: 1rem auto;
  padding: 0.5rem;
  font-family: $primary-font;
  background-color: $primary-color;
  color: white;
  border: 5px solid $primary-color;
  border-radius: $border-radius;
}
