@import "../../variables.scss";

nav {
  margin-left: auto;
  margin-right: 1rem;
  ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: auto;
    align-items: center;
  }
  li {
    border: 1px solid white;
    padding: 0.5rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}

a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: block;
}

@media (max-width: 900px) {
  nav {
    position: absolute;
    top: $header-height;
    background-color: $primary-color;
    width: 100vw;

    ul {
      list-style-type: none;
      padding: 1rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;

      li {
        width: 100vw;
        padding: 0.5rem 1rem;
        border: none;
        border-top: 1px solid white;
      }
    }
  }
}
