@import "../../variables.scss";

nav {
  ul {
    list-style-type: none;
    padding: 0;
  }
}

a {
  color: white;
  text-decoration: none;
  font-size: 1rem;

  &:hover {
    font-size: 1.1rem;
  }
}

@media (max-width: 900px) {
  nav {
    position: absolute;
    top: $header-height;
    background-color: $primary-color;
    width: 100vw;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        border-top: 2px solid white;

        a {
          padding: $header-padding;
        }
      }
    }
  }
}
